.bodyRight {
    width: 10%;
    height: 100%;
    display: flex;
    position: fixed;
    right:0;
    justify-content: center;
    background-color: var(--color-white);
}

/*NAVBAR*/
 nav {
    position: fixed;
    margin-top: 4vh;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;

}

nav a {
    writing-mode: vertical-lr;
    font-size: var(--text-big);
    font-weight: 500;
    transition: color 0.5s;
}

nav a.active {
    color: var(--color-highlight);
}


@media (max-width: 1000px) {

    .bodyRight {
        display: none;
        width: 0px;
    }
}
