@font-face {
  font-family: "ElliotSix";
  src: url("font/ElliotSix.ttf") format("truetype");
}
@font-face {
  font-family: "satoshi";
  src: url("font/Satoshi-Variable.ttf") format("truetype");
}
@font-face {
  font-family: "icons";
  src: url("font/icons.woff") format("truetype");
}
:root {
  --color-white: #fff5e1;
  --color-grey: #7d7d7d;
  --color-black: #333333;
  --color-highlight: #ff4f18;
  --color-secondary: #ffc0cb;
  --font-primary: "satoshi", sans-serif;
  --font-hand: "ElliotSix", sans-serif;
  --text-big: clamp(1.5rem, 8vw, 3.5rem);
  --text-mid: clamp(1.5rem, 2.5vw, 3rem);
  --text-small: clamp(1rem, 2vw, 1rem);
}
.dark-mode {
    --color-white: #333333; 
    --color-grey: #aaaaaa;
    --color-black: #fff5e1; 
    --color-highlight: #18c8ff; 
    --color-secondary: #e4c0ff; 
  }

  .dark-mode mark,::selection {
    color:var(--color-white)
  }
html {
scroll-behavior: smooth;
}
body {
margin: 0;
color: var(--color-black);
font-family: var(--font-primary);
cursor: url("icons/circle.svg") 16 16, auto;
background-color: var(--color-white);
box-sizing: border-box;

}
main {
  width: 80vw;
  margin: auto;
}
section, footer {
    min-height: 100vh;
    border-bottom: 4px solid var(--color-black);
    padding: 4vh 4vw 6vh;
    overflow: hidden;
  }
  .bodyWrapper {
    display: flex;
    flex-direction: row;
    z-index: 1;
    position: relative;
  }
hr {
  border: 1px solid var(--color-grey);
}
mark {
  background-color: var(--color-secondary);
  color: var(--color-black);
}
::selection {
  background: var(--color-secondary);
}
::-moz-selection {
  background: var(--color-secondary);
}
a,
button,
.icon {
  cursor: url("icons/circleLarge.svg") 24 24, auto;
}
h2 {
  margin: 0;
  font-weight: 500;
}
p {
    font-size: var(--text-small);
  }
a {
  color: inherit;
  text-decoration: none;
}
.icon {
  font-size: var(--text-mid);
  margin: 0;
}
.bigBoy {
  height: clamp(5rem, 15vw, 20rem);
  align-self: flex-start;
  margin-bottom: 50px;
  max-width: 100%;
  margin-bottom: 3vh;
  fill:var(--color-black);
}
.twoColContainer {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 20px;
  background-color: var(--color-white);
}
.twoColContainerFiftyFifty {
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 10px;
  align-items: space-between;
  justify-content: space-between;
  background-color: var(--color-white);
}
.columnBottomPadding {
  margin-bottom: 10%;
}
.content img {
  width: auto;
  max-width: 100%;
  object-fit: contain;
  cursor: url("icons/cursorPlus.svg") 24 24, auto;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  cursor: url("icons/cursorX.svg") 24 24, auto;
}
.modal-content {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 90%;
}
footer {
  display: flex;
  flex-direction: column;
  background-color: var(--color-black);
  color: var(--color-white);
  box-shadow: 0 0 0 100vmax var(--color-black);
  clip-path: inset(0 -100vmax);
}
footer ul {
  list-style: none;
  text-align: right;
  margin-right: 3vw;
  font-size: var(--text-big);
}

.contactRow {
  position: absolute;
  left: 0;
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.collapsible {
  padding: 20px;
  width: 100%;
  color: var(--color-black);
  font-size: var(--text-big);
  display: flex;
  justify-content: space-between;
  border: 4px solid var(--color-black);
  border-bottom: none;
  background-color: var(--color-white);
  cursor: url("icons/circleLarge.svg") 24 24, auto;
}
.collapsible:first-of-type{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.collapsible:last-of-type {
    border-bottom: 4px solid var(--color-black);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.collapsible.active .toggle-symbol {
  transform: rotate(45deg);
}
.toggle-symbol {
  transition: transform 0.3s ease;
  transform-origin: center center;
}
.content {
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.collapsible.active + .content {
  max-height: 100%;
  opacity: 1;
  transform: translateY(0);
  padding: 3vw;
  background-color: var(--color-white);
  border: 4px solid var(--color-black);
}
.textFiller {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  overflow: auto;
  flex-grow: 1;
}
.textFiller span {
  font-family: icons;
}
.textFiller a {
    text-decoration: underline;
}
.bold {
  font-weight: 700;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: var(--text-mid);
}
.background-icon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: var(--color-white);
}
.background-icon svg {
  height: 70vh;
  width: auto;
  display: block;
}

.hoverColor {
    transition: color 0.4s;
}
.hoverColor:hover {
transition: color 0.5 ease-in-out;
  color: var(--color-highlight);
  background-color: var(--color-white);
}
aside {
  width: 10vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 4vh;
  padding-bottom: 4vh;
}
.logo {
  width: 70px;
  cursor: url("icons/circleLarge.svg") 24 24, auto;
}
.smileyToggler {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#spinning-logo {
  transition: transform 0.1s linear;
  will-change: transform;
}
.logo-container {
  position: relative;
  display: inline-block;
}
.hover-image-container {
  position: fixed;
  bottom: -150%;
  left: 55%;
  transform: translateX(-50%);
  transition: bottom 0.8s ease-in-out, transform 0.8s ease-in-out;
  opacity: 0;
}
.hover-image {
  width: 600px;
  transition: transform 0.8s ease-in-out;
  transform: translateY(50%);
  z-index: 999999999;
}
.logo-container:hover .hover-image-container {
  bottom: 0;
  opacity: 1;
  z-index: 999999999;
}
.logo-container:hover .hover-image {
  transform: translateY(0);
}
.hover-image-container {
  transition: bottom 0.8s cubic-bezier(0.6, 0, 0.4, 1), opacity 0.5s ease;
  z-index: 999999999;
}
nav {
  display: flex;
  align-items: center;
  width: 10vw;
  height: 100vh;
  right: 0;
  position: fixed;
  flex-direction: column;
  justify-content: space-around;
  z-index: 999;
  background-color: var(--color-white);
}
nav a {
  writing-mode: vertical-lr;
  font-size: var(--text-big);
  font-weight: 500;
}
nav a.active {
  color: var(--color-highlight);
}
.info-container {
  display: flex;
  flex-direction: column;
}
.info-row {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-bottom: 7px;
}
@media (max-width: 1000px) {
  html {
    cursor: auto;
    line-height: 1.5;
  }
  main {
    margin-left: 1vw;
    margin-right: 1vw;
    width: 100%;
  }
  nav {
    display: none;
    width: 0;
  }
  aside {
    display: none;
    width: 0;
  }
  .logo {
    display: none;
    width: 0;
  }
  .twoColContainer,
  .twoColContainerFiftyFifty {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .twoColContainerFiftyFifty p {
    margin-top: 0;
  }
  .info-row {
    flex-direction: column;
    margin-bottom: 10px;
  }
  footer ul {
    width: 100%;
  }
}